@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* header */
.hero-img {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../../images/pattern.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.hero-img li .link {
	font-size: 1.6rem;
	color: white;
	text-decoration: underline;
}
.header-text {
	font-size: 6rem;
	font-weight: 700;
	color: #f1a638;
	font-family: Abel;
}
.header-text.active {
	display: none;
}

.header-spacer {
	height: 22vh;
}

/* nav */
nav {
	padding: 5px 20px;
	font-size: 18px;
	background-color: transparent;
	height: 22vh;
}
h1 {
	font-family: 'Abel';
	font-weight: 200;
}
.logo-item {
	background-image: url('../../images/logo.png');
	background-size: 100px 100px;
	background-repeat: no-repeat;
	height: 100px;
}
.main {
	list-style: none;
	height: 100%;
}
.link {
	color: black;
	text-decoration: none;
	display: block;
}
.item:hover {
	text-decoration: underline;
}
.logo {
	padding: 0;
	width: 100px;
}
li {
	padding: 30px 5px;
}
.item {
	text-align: center;
	font-family: 'Source Code Pro', monospace;
}
.item.first {
	border-bottom: 1px white solid;
	font-size: 20px;
}

/* mobile nav */
.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.item {
	width: 100%;
	order: 2;
	display: none;
}
.toggle {
	order: 1;
	cursor: pointer;
}
.bars {
	background: white;
	display: inline-block;
	height: 1px;
	width: 30px;
	position: relative;
}
.bars::before {
	background: white;
	display: inline-block;
	content: '';
	height: 1px;
	width: 30px;
	top: 10px;
	position: absolute;
}
.bars::after {
	background: white;
	display: inline-block;
	content: '';
	height: 1px;
	width: 30px;
	top: -10px;
	position: absolute;
}
.item.active {
	display: block;
}

/* tablet nav */

@media all and (min-width: 468px) {
	.main {
		justify-content: center;
		align-items: center;
	}
	.logo {
		flex: 1;
	}
	.item.first {
		display: block;
		width: auto;
		order: 1;
		border-bottom: none;
		margin: 0 30px;
		text-decoration: underline;
	}
	.toggle {
		order: 2;
	}
	.item {
		order: 3;
	}
}

/* desktop nav */
@media all and (min-width: 768px) {
	.main {
		align-items: center;
	}
	.item {
		display: block;
		width: auto;
	}
	.toggle {
		display: none;
	}
	.logo {
		order: 0;
	}
	.item.first {
		order: 1;
		text-decoration: underline;
		margin: 0 0;
	}
	.item {
		order: 2;
	}
	.main li {
		padding: 15px 10px;
	}
}
